{% extends "layouts/index.html" %}
{% load staticfiles %}
{% block content %}
<nav class="app-navbar uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center">
        <ul class="uk-pagination">
            <li class="uk-pagination-previous"><a href="{{request.META.HTTP_REFERER}}">volver</a></li>
            <img class=uk-text-center" uk-navbar-brand" src="{% static 'images/votes.png' %}" width="50">
        </ul>
    </div>
</nav>
<div class="app-section app-section-color-1 app-section-colored-white">
    <div class="uk-container uk-container-center uk-text-center">
        <p class="uk-article-title uk-margin-large-top">
            {{ciudad.nombre}}
            <i class="uk-display-block uk-icon-medium uk-icon-angle-down"></i>
        </p>
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-large-bottom">
                <a href="" class="app-button-choose uk-button-large uk-button-primary">Busque su candidato</a>
            </div>
            <div class="uk-width-1-1 uk-margin-large-bottom">
                <a href="{% url "candidato" ciudad.pk %}" class="app-button-choose uk-button-large uk-button-primary">Conocer candidatos</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}