{% extends "layouts/index.html" %}
{% load staticfiles %}
{% block content %}
<div class="app-section app-section-color-1 app-section-colored-white">
    <div class="uk-container uk-container-center uk-text-center">
        <img class="app-logo" src="{% static 'images/votes.png' %}" width="281">
        <p class="uk-text-large">
            Esta aplicación fue desarrollada con el propósito de dar a conocer al usuario información acerca del candidato para la intendencia de su ciudad.
        </p>
        <div class="uk-grid">
            <div id="my-id" class="uk-width-1-1">
                {% if ciudades %}
                    <div class="uk-button-dropdown uk-text-center" data-uk-dropdown="{boundary:'#my-id'}">
                        <!-- This is the element toggling the dropdown -->
                        <button class="app-button-choose uk-button-large uk-width-1-1 uk-button-primary">Escoja su ciudad</button>
                        <div class="uk-dropdown uk-dropdown-center">
                            <ul class="uk-nav uk-nav-dropdown">
                        	{% for ciudad in ciudades %}<!--recorremos las preguntas con un for-->
                	    		<li><a href="{% url "ciudad" ciudad.pk %}">{{ciudad.nombre}}</a></li>
                			{%endfor%}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{%endblock%}