.app-logo 
{
    margin: 10px 0 20px 0;
}
.app-navbar
{
	padding: 15px 0;
	border: none;
    background: #000000;
}
.app-button-choose
{    
	margin: -30px 0 15px 0;	
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);	
	background: #FF0000;	
	border: none;	
	color: #ffffff !important;	
	min-height: 50px;	
	padding: 0 30px;	
	line-height: 50px;	
	font-size: 18px;
}
.app-button-choose:hover 
{
	background: #ffffff;
	color: #dbdb1c !important;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	-webkit-transition: background-color .15s ease-in-out;
	transition: background-color .15s ease-in-out;
}
.app-button-choose:focus,
.app-button-choose:active 
{
	background: #1E90FF;
	color: #fff !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),
                inset 0 -1px 0px rgba(0,0,0,0.05),
                inset 1px 0px 0px rgba(0,0,0,0.05),
                inset -1px 0px 0px rgba(0,0,0,0.05);
    -webkit-transition: background-color .05s ease-in-out;
    transition: background-color .05s ease-in-out;
}
.app-footer
{
	background-color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding-bottom: .5rem;
}
.app-footer_main-flag
{
	width: 100%;
}
.app-footer_main-flag span {
	display: block;
	height: .6rem;
}
.app-footer_main-flag .red
{
	background: red;
}
.app-footer_main-flag .white
{
	background: #ffffff;
	width: 40%;
}
.app-footer_main-flag .blue
{
	background: #1e90ff;
	width: 25%;
}
.app-padding-right-2x
{
	padding-right: 2em;
}
.app-section 
{
    min-height: 100%;
}
.app-section .uk-text-large 
{
    margin-bottom: 60px;
}
.app-section-colored-white
{
	color: #ffffff;
}
.app-section-color-1
{
	background: #32A6D5; 
}