{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="es"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>APEPU | Voto</title>
	<meta name="description" content="Somos un equipo de desarrolladores. Tenemos una pasión por el diseño web y el amor para crear" />
	<meta name="author" content="Apepu | Desarrollo creativo">
	<link rel="shortcut icon" href="{% static 'favicon.gif' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" type="text/css" href="{% static 'components/uikit/css/uikit.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'components/uikit/css/uikit.almost-flat.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'components/uikit/css/components/slideshow.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'components/uikit/css/components/slidenav.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'components/uikit/css/components/sticky.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body id="top">
	{%block content%}{%endblock%}
	<div class="uk-clearfix"></div>
	<div class="uk-width-1-1">
		<div class="app-footer_main-flag">
			<span class="red"></span>
			<span class="white"></span>
			<span class="blue"></span>
		</div>
	</div>
	<div class="uk-width-1-1">
		<div class="uk-text-right app-padding-right-2x uk-margin-left">
			<p class="uk-text-large uk-display-inline-block">Desarrollado por </p>
			<a href="" class="uk-display-inline-block"><img src="{% static 'images/apepu.svg' %}"></a>
		</div>
	</div>	
	<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'components/uikit/js/components/sticky.min.js' %}"></script>
    <script src="{% static 'components/uikit/js/components/slideshow.min.js' %}"></script>
    <script src="{% static 'components/uikit/js/components/parallax.min.js' %}"></script>
	<!-- Google Analytics: -->
</body>
</html>